/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;/*para hacer box sizing en mozilla ahora ya no es necesario esto */
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
li {
  list-style: none;
  display: inline;
  padding: 14px;
}
.box-header {
  float: left;
}
.box-right {
  float: right;
}
header {
  height: 20vh;
  position: fixed;
}
.box-right>img {
  width: 100px;
}
.bg-home:first-of-type {
  background-image: url("../assets/images/bg-home.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.btn {
  background-color: #2ecc71;
  padding: 14px;
  color: inherit;
}
/*modificando css section 3 Patty*/
.section3 {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
}
.color {
  background-color: #E95853;
  text-align: center;
  margin: 0 auto;
}
